@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Open Sans', sans-serif; ;
}

header{
    width: 100%;
    background-color: #000;
    color: #fff;
}

body{
    background: url(/img-fondo/fondo.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.container-header{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    padding: 10px;
}

.icono a{
    font-size: 50px;
    color: #fff;
}
.carrito i{
    font-size: 25px;
    cursor: pointer;
}


/* arrancan las opciones */

.opcion{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.opcion a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    border-top: 1px solid #000;
}

.opcion a:hover{
    color: rgb(116, 115, 115);
}
.extras{
    border-bottom: 1px solid #000
}
.opcion a i{
    margin-right: 15px;
    font-size: 25px;
}

/* Arrancan los productos */



.contenedor-producto{
    width: 80%;
    max-width: 1490px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}


article{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    margin: 30px auto;
}

article:hover{
    box-shadow: 20px 10px 5px rgba(0, 0, 0, 0.700);;
}



article img{
    width: 100%;
    height: 100%;
}

.icon-star{
    display: none;
}


article:hover .icon-star{
    display: block;
    width: 35px;
    height: 35px;
    margin: 3px;
    position: absolute;
    top: 5px;
    left: 258px;
    z-index: 100;
}
.icon-star:hover{
    color: #000;
}



.nombre-prod{
    margin: 20px auto;
    font-size: 20px;
}

.precio-prod{
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 20px;
    border: 1px solid #fff;
    width: 100px;
    border-radius: 30px;
}

.precio-prod:hover{
    background-color: rgb(110, 108, 108);
    cursor: pointer;
}










/* Arranca el footer */

footer{
    width: 100%;
    height: 130px;
    background-color: #000;
}