@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Open Sans', sans-serif; ;
}

body{
    background: url(/img-fondo/fondo-horario.jpg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 130%;
    vertical-align: middle;
}
header{
    width: 100%;
    background-color: #000;
    color: #fff;
}

.container-header{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    padding: 10px;
}

.icono a{
    font-size: 50px;
    color: #fff;
    margin-right: 77px;
}
.icono a:hover{
    color: gray;
}
.carrito i{
    font-size: 25px;
    cursor: pointer;
}
/* contenido carrito */

.contenido-carrito{
    display: none;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    top: 0px;
    left: 0px;
    margin-top: 87px;
}

.carrito:hover .contenido-carrito{
    display: block;
    
}

.caja-carro{
    border: 1px solid #fff;
    width: 100%;
    height: 500px;
}

.container{
    width: 80%;
    background-color:#000;
    margin: 100px auto;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}
.container p{
    font-size: 23px;
    margin-top: 20px;
}

footer{
    width: 100%;
    height: 130px;
    background-color: #000;
    margin-top: 30px;
}


@media (min-width:1000px){
    .container{
        width: 80%;
        background-color:#000;
        margin: 150px auto;
        color: #fff;
        display: flex;
        border: 3px solid #fff;

    }
    .container div{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin:50px auto;
        border: 3px solid #fff;
    }


    

}

